html,
body {
    height: auto;
    width: 300px;
    border-radius: 15px;
    background-color: #eaebd1;
}

img {
    cursor: pointer;
}

/* .container{
    height: 100%;
    width: 100%;
    display: flex;
    padding:10px
} */

.logo {
    max-width: 50px;
    max-height: 90px;
    height: auto;
    width: auto;
}

.name {
    color: #2f353b;
    font-family: "Balsamiq Sans", cursive;
    font-size: 2rem;
    font-weight: 700;
}

.btn-custom {
    color: #a77e7e;
    border: 1px solid #a77e7e;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-custom:hover {
    background-color: #a77e7e;
    border-color: #a77e7e;
    color: #eee;
}

.btn-custom:focus,
.btn-custom:checked,
.btn-custom:active {
    box-shadow: 0 0 0 0.25rem rgba(167, 126, 126, 0.5) !;
    background-color: #a77e7e;
    border-color: #a77e7e;
    color: #eee;
}

input:focus {
    outline: none;
}

.notelist {
    max-height: 21vh;
    overflow-y: scroll;
}

.notelist > div {
    cursor: pointer;
}

.single-div-download {
    margin-left: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 3vh;
    border-bottom: 1px solid #2f353b;
    border-radius: 5px;
}

.single-div-download:hover {
    background-color: #a77e7e;
    border-color: #a77e7e;
    color: #eee;
}
