.main-div {
    color: #31312b;
    display: block;
    margin: 2vh 2vh 0 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    max-width: 40%;
    min-width: 20%;
    opacity: 0.9;
    border-radius: 5px;
    box-shadow: #79794b 0px 0px 10px;
}

.location-bottom-right {
    z-index: 100;
    border-radius: 5px;
    background-color: #eaebd1;

    border: 1px solid black;
    width: 100%;
}

.inner-main {
    display: flex;
    max-width: 100%;
    width: 100%;
}

.selected-text {
    display: block;
    background-color: #eeeee6;
    border-radius: 3px;
    border: 1px solid #79794b;
    align-items: center;
    text-align: start;
    padding: 2vh;
    max-height: 20vh;
    width: 90%;
    overflow: scroll;
}

.sticky {
    position: sticky;
    padding: 2vh;
}

.button-div {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    width: 10%;
    justify-content: start;
    align-items: center;
}
.button-div > div {
    margin: 0.5vh 0;
}

.lower-button-div {
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

img {
    cursor: pointer;
}

.single-word {
    font-weight: bolder;
    font-size: large;
}

.translate-box {
    margin-top: 2vh;
    width: 100%;
}

.translate-box-language,
.translate-box-form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.translated-text {
    max-height: 20vh;
    overflow: scroll;
}

select {
    background-color: #eeeee6;
}

.datalist-div {
    justify-content: center;
    align-items: center;
    display: flex;
}
